{% extends "base/base_back.html" %}


{% load i18n app_security %}
{% load l10n humanize %}


{% block breadcrumbs %}
    <a href="{% url 'dashboard' %}">Inicio</a>
    &rsaquo; {{ title }}
{% endblock breadcrumbs %}


{% block content_title %}
    {{ opts.verbose_name_plural|capfirst }}|
    <small>{{ title }}</small>

    <div class="btn-group">

        {% if not object.estado %}
            <a href="{% url 'vendedor:salidaaceptar_update' object.pk %}"
               class="btn btn-primary btn-sm js-confirm text-bold"
               msg-title="{% trans 'Aceptar Salida' %} {% trans 'Salida' %}?."
               msg="{% trans 'Esta Seguro?' %}<br/>{% trans 'Recuerde que esta acción no puede ser revertida' %}"
               title="{% trans 'Aceptar' %} {% trans 'Salida' %}" rel="tooltip"><i
                    class="btn-icon-only fa fa-check-circle"></i></a>
        {% else %}
            Aceptado
        {% endif %}

    </div>
{% endblock content_title %}


{% block content %}
    <h3 class="text-center visible-print">Ficha de Salida</h3>
    <div class="text-center">
        <p class="text text-info">Código de Salida: <strong>{{ object.codigo }}</strong></p>
        <p class="text text-info">Fecha de Salida: <strong>{{ object.created_at|date:'d-m-Y h:i' }}</strong></p>
        <p class="text text-info">Cantidad Equipos: <strong>{{ object.salidadetalle_set.count }}</strong></p>
    </div>
    <div class="container-overflow">
        <table id="equipos_id" class="table table-bordered table-hover table-striped table-condensed table-responsive">
            <thead>
            <tr>
                <th>#</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Color</th>
                <th>Imei</th>
            </tr>
            </thead>
            <tbody>
            {% for d in object.salidadetalle_set.all %}
                <tr >
                    <td>{{ forloop.counter }}</td>
                    <td>{{ d.equipo.producto.marca.nombre }}</td>
                    <td>{{ d.equipo.producto.codigo }}</td>
                    <td>{{ d.equipo.producto.color }}</td>
                    <td>{{ d.equipo.imei }}</td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>

    <div class="info text-center">

        <p class="text-info"><label>Asignado
            Por:</label> {{ object.user.person.first_name }} {{ object.user.person.last_name }} {{ object.user.person.identity_type }} {{ object.user.person.identity_num }}
        </p>
        <p class="text-info"><label>Asignado
            A:</label> {{ object.vendedor.person.first_name }} {{ object.vendedor.person.last_name }} {{ object.vendedor.person.identity_type }} {{ object.vendedor.person.identity_num }}
        </p>

    </div>
    <div class="text-center">

        <a class="printPage btn btn-primary hidden-print " href="#"><i class="fa fa-print"></i> Imprimir</a>
    </div>
{% endblock content %}

{% block customjs %}
    <script>
        $('a.printPage').click(function () {
            $("#equipos_id").removeClass();
            $("#equipos_id").addClass("table");
            window.print();
            return false;
        });
    </script>
{% endblock %}