{% extends "base/base_back.html" %}

{% load i18n app_security %}
{% load l10n humanize %}

{% block breadcrumbs %}
    <a href="{% url 'dashboard' %}">Inicio</a>
    &rsaquo;
    <a href="{% url 'producto:producto_general_list' %}">{{ opts.verbose_name_plural|capfirst }}</a>
    &rsaquo; {{ title }}
{% endblock breadcrumbs %}

{% block content_title %}
    {{ opts.verbose_name_plural|capfirst }}|
    <small>{{ title }}</small>
{% endblock content_title %}

{% block content %}


    <div class="btn-toolbar btn-toolbar-top">
        <div class="row">
            <div class="btn-actions">


                {% if not completo %}
                    <button title="Agregar Precio" type="button" class="btn btn-primary text-bold" data-toggle="modal"
                            data-target="#exampleModal"
                            data-codigo="{{ object.codigo }}"
                            data-url="{% url 'producto:precioventa_add' object.id %}">
                        <i class="fa fa-plus"></i>
                        <span class="hidden-xs">Agragar
                    </span>

                    </button>
                {% endif %}


            </div>
        </div>
    </div>
    <div class="container-overflow">
        <div class="row">
            <div class="col-md-6">
                <table class="table table-bordered table-hover table-striped table-condensed table-responsive">

                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Ruta</th>
                        <th>Precio</th>
                        <th>Ac</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for precio in precios %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ precio.ruta }}</td>
                            <td>{{ precio.precio }}</td>
                            <td class="text-center">
                                <button title="Agregar Marca" type="button" class="btn btn-primary text-bold"
                                        data-toggle="modal"
                                        data-target="#exampleModal"
                                        data-codigo="{{ object.codigo }}"
                                        data-url="{% url 'producto:precio_update' precio.id %}">
                                    <i class="fa fa-edit"></i>

                                </button>
                            </td>
                        </tr>
                    {% endfor %}


                    </tbody>

                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-bordered table-hover table-striped table-condensed table-responsive">
                    <caption>Precios de Compra</caption>
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Nro. Comprobante</th>
                        <th>Fecha</th>
                        <th>Moneda</th>
                        <th>Precio Unitario</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for d in compras_detalles %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ d.compra.nro_comprobante }}</td>
                            <td>{{ d.created_at|date:'d/m/Y' }}</td>
                            <td>{{ d.compra.tipo_moneda.descripcion }}</td>
                            <td class="text-info">

                                {% if d.compra.tipo_moneda.descripcion == "NUEVOS SOLES" %}
                                    <label class="label label-info">S.</label>
                                {% else %}
                                    <label class="label label-info">$</label>
                                {% endif %}

                                {{ d.precio_unitario }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>

        </div>
    </div>
    <div class="row">
        {% if is_paginated %}
            {% load paginator %}
            {% paginator %}
        {% else %}
            <div class="col-md-12">
                <ul class="breadcrumbpag">
                    {{ object_list.count }}
                    {% ifequal object_list.count 1 %}{{ opts.verbose_name|capfirst }}{% else %}
                        {{ opts.verbose_name_plural|capfirst }}{% endifequal %}
                </ul>
            </div>
        {% endif %}
    </div>

    <!-- Modal form-->



    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel"></h4>
                </div>
                <div id="body_form_id" class="modal-body">

                </div>
            </div>
        </div>
    </div>
    <!--End Modal form-->




{% endblock content %}

{% block customjs %}
    <script>
        $('#exampleModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var url = button.data('url');
            var codigo = button.data('codigo');

            var descripcion = button.data('description');

            var modal = $(this);
            modal.find('.modal-title').text('Producto: ' + codigo);

            $("#text_modal_id").html(descripcion);
            $.ajax(
                {
                    method: 'get',
                    url: url

                }
            ).done(function (data) {
                $("#body_form_id").html(data);
            });

        });
    </script>
{% endblock customjs %}
