{% load i18n crispy_forms_tags %}
{% load l10n %}


{% crispy form %}
<div class="hidden">
    <input type="hidden" id="periodo_nombre_id" value="{{ periodo.nombre }}">
    <input type="hidden" id="periodo_igv_id" value="{{ periodo.igv }}">
</div>

<script>
    $(document).ready(
    );

    $("#search_empresa").click(function () {
        nro_doc = $("#nro_doc_id").val();
        $.ajax({
            url: "{% url 'compra:proveedor_view' %}",
            data: {"nro_doc": nro_doc},
            type: "GET",

        })
            .done(function (data) {
                $("#proveedor_id").show();
                $("#proveedor_content_id").html(data);
            });


    });


</script>

<script type="text/javascript">
    $(function () {
        $('#id_fecha_emision').datetimepicker({

            format: 'DD/MM/YYYY'
        });
    });
    $(function () {
        $('#id_fecha_vencimiento').datetimepicker({

            format: 'DD/MM/YYYY'
        });
    });
</script>

<script>
    //  Suma
    $("#id_total").keyup(function () {
        igv_online = parseFloat($("#periodo_igv_id").val());
        total = parseFloat($(this).val());

        base_imponible = total / (1 + igv_online / 100);
        igv = base_imponible * igv_online / 100;

        $("#id_base_imponible").val(base_imponible.toFixed(2));
        $("#id_igv").val(igv.toFixed(2));


    });
</script>

