{% extends "base/base_back.html" %}

{% load i18n crispy_forms_tags %}
{% load l10n %}

{% block breadcrumbs %}
    <a href="{% url 'dashboard' %}">Inicio</a>
    &rsaquo;
    <a href="{% url 'backend:menu_list' %}">{{ opts.verbose_name_plural|capfirst }}</a>
    &rsaquo; {{ title }}
{% endblock breadcrumbs %}

{% block content_title %}
    {{ opts.verbose_name|capfirst }}|
    <small>{{ title }}</small>
{% endblock content_title %}

{% block content %}

    {% crispy form %}

{% endblock %}


{% block customjs %}
    <script>
        $('form').submit(function () {
            $(this).find("button[type='submit']").prop('disabled', true);
        });
        $(document).ready(function () {

            if ($("#id_provincia").val() !== None) {
                $("#id_provincia").prop("disabled", true);
            }
            if ($("#id_lugar").val() !== None) {
                $("#id_lugar").prop("disabled", true);
            }
        });
    </script>
    <script>

        $("#id_departamento").on('change', function () {
            var departamento = $('#id_departamento').val();
            $("#id_lugar").empty();
            $("#id_lugar").prop("disabled", true);
            $.ajax({
                method: "GET",
                url: "/persona/provincia/list_select/",
                dataType: 'json',
                data: {departamento: departamento},
                success: function (data, status) {

                    console.log(data['pronvincia_list']);

                    $("#id_provincia").empty();
                    $("#id_provincia").prop("disabled", false);

                    var items = data['pronvincia_list'];

                    $("#id_provincia").append(new Option("------", "------"));
                    $.each(items, function (key, value) {

                        $("#id_provincia").append(new Option(value.nombre, value.id));

                    });


                },
                error: function (response) {

                }
            });
        });

    </script>
    <script>

        $("#id_provincia").on('change', function () {
            var provincia = $('#id_provincia').val();

            $.ajax({
                method: "GET",
                url: "/persona/distrito/list_select/",
                dataType: 'json',
                data: {provincia: provincia},
                success: function (data, status) {

                    console.log(data['pronvincia_list']);

                    $("#id_lugar").empty();
                    $("#id_lugar").prop("disabled", false);

                    var items = data['pronvincia_list'];


                    $.each(items, function (key, value) {

                        $("#id_lugar").append(new Option(value.nombre, value.id));

                    });


                },
                error: function (response) {

                }
            });
        });

    </script>
{% endblock customjs %}

