{% extends "base/base_back.html" %}
{% load static %}
{% load i18n app_security %}
{% load l10n humanize %}


{% block customcss %}
    <link rel="stylesheet" href="{% static 'bower/angular-toastr/dist/angular-toastr.min.css' %}">
{% endblock %}

{% block breadcrumbs %}
    <a href="{% url 'dashboard' %}">Inicio</a>
    &rsaquo; <a href="{% url 'almacen:compra_list' %}">Comprobantes</a>
    &rsaquo; <a href="{% url 'almacen:compra_detail' object.compra.id %}">{{object.compra.serie_comprobante}}-{{object.compra.nro_comprobante}}</a>
    &rsaquo; {{ producto.codigo }}
{% endblock breadcrumbs %}

{% block content_title %}
    {{ opts.verbose_name_plural|capfirst }}|
    <small>{{ object.marca.nombre }} {{ object.codigo }}</small>
{% endblock content_title %}

{% block content %}

    <div ng-app="myApp">
        <div ng-controller="compraDetalleCtrl as ctrl" class="container">
            <input type="text" readonly hidden id="producto_general_codigo_id"
                   value="{{ object.producto_general.codigo }}">
            <input type="text" hidden readonly id="compra_detalle_id" value="{{ object.id }}">
            <input type="text" hidden readonly id="producto_id" value="{{ producto.id }}">

            <div class="row">
                <div class="col-md-4">
                    <div class="form-inline">
                        <form ng-submit="ctrl.addEquipo()">
                            <input type="text" required="" ng-focus="ctrl.focusAdd" class="form-control"
                                   placeholder="Ingrese Imei"
                                   ng-model="ctrl.imei">
                            <button class="btn btn-primary"><i class="fa fa-save"></i></button>
                        </form>
                    </div>
                </div>
                <div class="col-md-8">

                    <table class="table">
                        <tr>
                            <th>Cantidad</th>
                            <th>Registrados</th>

                            <th>Modelo General</th>
                            <th>Modelo</th>

                            <th>Marca</th>


                        </tr>
                        <tr>

                            <td>{[{ ctrl.cantidad }]}</td>
                            <td>{[{ ctrl.registrados }]}</td>
                            <td>{{ producto.producto_general.codigo }}</td>
                            <td>{{ producto.codigo }}</td>
                            <td>{{ producto.producto_general.marca }}</td>

                        </tr>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <table class="table">
                        <caption>Por Ingresar</caption>
                        <tr>
                            <th>#</th>
                            <td>Imei</td>
                            <td>Contable</td>
                            <td>Acción</td>
                        </tr>
                        <tr ng-repeat="eq in ctrl.equipos">
                            <td>{[{$index + 1}]}</td>
                            <td>{[{ eq.imei }]}</td>
                            <td>
                                <label class="label label-info" ng-if="ctrl.contable">
                                    Contable
                                </label>
                                <label class="label label-info" ng-if="!ctrl.contable">
                                    No Contable
                                </label>
                            </td>
                            <td>
                                <button class="btn btn-danger" ng-click="ctrl.removeEquipo(eq)"><i
                                        class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-6">
                    <table class="table">
                        <caption>Ingresados</caption>
                        <tr>
                            <th>#</th>
                            <td>Imei</td>

                            <td>Producto</td>
                        </tr>
                        <tr ng-repeat="eq in ctrl.compra_detalle_detalles.equipos">
                            <td>{[{$index + 1}]}</td>
                            <td>{[{ eq.imei }]}</td>

                            <td>
                                {[{eq.producto_codigo}]}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <button class="open-dialog btn btn-primary" type="button" ng-click="ctrl.enviarEquipos()">Enviar
                Equipos
            </button>

            <div id="confirmation-dialog">
                <div class="modal fade confirmation-dialog" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">{[{ ctrl.confirmationDialogConfig.title }]}</h4>
                            </div>
                            <div class="modal-body">
                                <div class="span5">{[{ ctrl.confirmationDialogConfig.message }]}</div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button type="button" ng-repeat="button in ctrl.confirmationDialogConfig.buttons"
                                        ng-click="ctrl.executeDialogAction(button.action)"
                                        class="btn {[{ button.class }]} ">{[{ button.label }]}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>


{% endblock content %}


{% block customjs %}

    <script src="{% static 'almacen/service.js' %}"></script>
    <script src="{% static 'almacen/compra_detalle/compra_detallectrl.js' %}"></script>
{% endblock %}
