{% extends "base/base_back.html" %}

{% load i18n app_security l10n humanize %}


{% block breadcrumbs %}
    <a href="{% url 'dashboard' %}">Inicio</a>
    &rsaquo;
    <a href="{% url 'almacen:user_list' %}">Usuarios</a>
    &rsaquo; {{ object.person }}
{% endblock breadcrumbs %}


{% block content_title %}
    Detalle de Almacen
    <small>{{ object.person }}</small>
{% endblock content_title %}
{% block content %}
    <script type="text/javascript">
        $(function () {
            $('table').kgrid({
                form_data: ['{{f}}', '{{q}}'],
                form_to: '{% url "almacen:user_list" %}?f={{f}}&q={{q}}',
                order_attr: 'class=""',
                order_to: '{% url "almacen:user_list" %}?f={{f}}&q={{q}}',
            });
        });
    </script>


    <div class="container-overflow">
        <table class="table table-bordered table-hover table-striped table-condensed table-responsive">
            <thead>
            <tr>
                <th>#</th>


                <th class="col-hidden">Usuario
                </th>
                <th class="col-hidden">Nombres
                </th>

                <th class="col-hidden">Rol</th>


                <th class="btn-actions col-blocked text-center">Acción</th>
            </tr>
            </thead>
            <tbody>
            {% for d in object_list %}
                <tr>
                    <td>{% if is_paginated %}
                        {{ page_obj.start_index|add:forloop.counter0 }}
                    {% else %}
                        {{ forloop.counter }}
                    {% endif %}
                    </td>

                    <td>{{ d.username }}</td>
                    <td>{{ d.person.first_name }} {{ d.person.last_name }}</td>
                    <td>
                        {% for g in d.groups.all %}
                            {{ g.name }}
                        {% endfor %}
                    </td>
                    <td class="text-center">
                        <div class="btn-group">
                            <a href="{% url 'almacen:user_detail' d.pk %}"
                               class="btn btn-info btn-sm text-bold"
                               title="Crear Salida" rel="tooltip"><i
                                    class="btn-icon-only fa fa-shopping-cart"></i>
                            </a>
                        </div>

                    </td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>
    <div class="row">
        {% if is_paginated %}
            {% load paginator %}
            {% paginator %}
        {% else %}
            <div class="col-md-12">
                <ul class="breadcrumbpag">
                    {{ object_list.count }}
                    {% ifequal object_list.count 1 %}{{ opts.verbose_name|capfirst }}{% else %}
                        {{ opts.verbose_name_plural|capfirst }}{% endifequal %}
                </ul>
            </div>
        {% endif %}
    </div>

{% endblock content %}
