{% extends "base/base_back.html" %}

{% load i18n app_security %}
{% load l10n humanize %}

{% block breadcrumbs %}
    <a href="{% url 'dashboard' %}">Inicio</a>
    &rsaquo; {{ title }}
{% endblock breadcrumbs %}

{% block content_title %}
    {{ opts.verbose_name_plural|capfirst }}|
    <small>{{ title }}</small>
{% endblock content_title %}

{% block content %}
    <script type="text/javascript">
        $(function () {
            $('table').kgrid({
                form_data: ['{{f}}', '{{q}}'],
                form_to: '{% url "almacen:equipo_list_menu" %}?f={{f}}&q={{q}}',
                order_attr: 'class=""',
                order_to: '{% url "almacen:equipo_list_menu" %}?f={{f}}&q={{q}}',
            });
        });
    </script>

    <div class="container-overflow">
        <table class="table table-bordered table-hover table-striped table-condensed table-responsive">
            <thead>
            <tr>
                <th>#</th>
                <th>Producto
                </th>
                <th class="col-hidden" data-search="imei"
                    data-order="imei">Imei
                </th>
                <th>
                    Estado
                </th>
                <th>
                    Fecha de Ingreso
                </th>
                <th>Registrado por</th>
                <th class="col-hidden" data-order="contable">Contable</th>

                <th class="btn-actions col-blocked text-center">Acción</th>
            </tr>
            </thead>
            <tbody>
            {% for d in object_list %}
                <tr>
                    <td>{% if is_paginated %}
                        {{ page_obj.start_index|add:forloop.counter0 }}
                    {% else %}
                        {{ forloop.counter }}
                    {% endif %}
                    </td>
                    <td>{{ d.producto.codigo }}</td>
                    <td>{{ d.imei }}</td>
                    <td>{{ d.estado }}</td>
                    <td>
                    {{ d.created_at|date:'d/m/Y H:i' }}
                    </td>
                <td>
                    {{ d.user }}
                </td>
                    <td>
                        {% if d.contable %}
                            <p class="text-info">Contable</p>
                        {% else %}
                            <p class="text-warning">No Contable</p>
                        {% endif %}

                    </td>
                    <td class="text-center">
                        <div class="btn-group">
                            <a href="{% url 'almacen:equipo_detail' d.pk %}"
                               class="btn btn-info btn-sm text-bold"
                               title="Cambiar Producto" rel="tooltip">
                                <i class="btn-icon-only fa fa-eye"></i>
                            </a>
                        </div>

                    </td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>
    <div class="row">
        {% if is_paginated %}
            {% load paginator %}
            {% paginator %}
        {% else %}
            <div class="col-md-12">
                <ul class="breadcrumbpag">
                    {{ object_list.count }}
                    {% ifequal object_list.count 1 %}{{ opts.verbose_name|capfirst }}{% else %}
                        {{ opts.verbose_name_plural|capfirst }}{% endifequal %}
                </ul>
            </div>
        {% endif %}
    </div>

{% endblock content %}